@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg {
  background-size: cover;
  background-position: center;
  background-color: #0B111B;
  
  /* background-blend-mode: darken; */
  height: 100vh;
}

.labs-logo{
  background-image: url('/labs-logo.png');
  background-size: cover;
  background-position: center;
  width: 130px;
  height: 60px;
}
